/*li>p{*/
    /*display:inline-block;*/
/*}*/
/*li{*/
    /*background-color: white;*/
/*}*/
body {
    background-color: black;
    background-image: url("to-do.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
    text-align: center;
}
h1 {
    border-style: solid;
    border-width: 0px 0px 8px 0px;
    text-align: center;
}
ul{
    /*child-align: ;*/
    /*width: 30%;*/
    /*height: ;*/
    padding: 0;

}
/*ul button{*/
    /*margin-left: 100%;*/

/*}*/
#task{
    font-size: large;
}
p{
    margin: auto;
    font-size: xx-large;
    background-color: white;
    display: inline-block;
    overflow: auto;
    width: 20%;
}
li[id^="back"]{
    background-color: yellow;
}
#main{
    width: 400px;
    height: 600px;
    margin: auto;
    margin-top: 5%;
    border: solid;
    background-color: white;
    box-shadow: 0px 0px 7px 11px black;
    overflow: auto;

}
.high{
    background-color: aliceblue;
}
.btn_Div{
    display: inline-block;
    margin-top: 13px;
}

.chked_txt{
    text-decoration: line-through;
}

li{
border: solid;
}


#chk_box{
    float: left;
    width: 22px;
    height: 40px;
    margin-left: 20px;
    border-left: 8px solid black;
    border-bottom: 8px solid black;

}
.btn_Div{
    float: right;
}
/*p{*/
/*}*/

li{
    border-top: 0px solid black;
    border-bottom: 2px solid black;
}

a{
    margin: 10px;
}
